<mat-card class="text-center">
    <div>
        <img src="https://via.placeholder.com/150" alt="product" class="mb-1 mx-auto h-[200px]" />
        <div class="w-full">
            <div>
                <h5>Shoes</h5>
                <p class="truncate hover:whitespace-normal">Nike</p>
                <p>Description</p>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">{{'150' | currency}}</span>
                <button mat-icon-button>
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>